@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");







.btn-1{
  display: inline-block;
  padding: 15px 35px;
  border: 2px solid #803D3B;
  color: #D3D2D2;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: 20px;
  border-radius: 50px;
}
.slider-img{
  height: 450px;
}
.swiper-slide{
  padding-top: 80px;
}
.swiper-wrapper{
  margin-bottom: 37px;
}
.btn-1:hover{
  background-color: #803D3B;
}
.products{
  background-color: #1f5033;
}
.tabs{
  display: flex;
  flex-wrap: wrap;
  padding: 10px 80px;
}
.tabs label{
  width: 15%;
  order: 1;
  display: block;
  padding: 20px 0;
  text-align: center;
  cursor: pointer;
  color: #739376;
  font-weight: 700;
  transition: background ease 0.2s;
}
.tabs .tab{
  order: 99;
  flex-grow: 1;
  width: 100%;
  display: none;
  padding-top: 5px;
}
.tabs input[type="radio"]{
  display: none;
}
.tabs input[type="radio"]:checked + label{
  border-bottom: 2px solid #803D3B;
  color: #D3D2D2;
}
.tabs input[type="radio"]:checked + label + .tab{
  display: block;
}
.product{
  display: flex;
  align-items: center;
  padding: 25px;
  margin: 0 0px;
}

.product-img{
  width: 50%;
  text-align: left;
}
.product-img h4{
  display: inline-block;
  padding: 5px 7px;
  line-height: 15px;
  color: #D3D2D2;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 800;
  border: 2px solid #c9e1cb;
  border-radius: 10px;
  margin-bottom: 50px;
}
.product-img img{
  width: 150px;
  height: 120px;
}
.product-txt{
  width: 50%;
  margin-left: 10px;
  text-align: left;
}
.product-txt h4{
  color: #ffffff;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 800;
  margin-bottom: 5px;
}
.product-txt p{
  color: #D3D2D2;
  font-size: 16px;
  margin-bottom: 15px;
}
.product-txt span{
  color: #ffffff;
  font-size: 18px;
  font-weight: 800;
}
.info{
  padding: 100px 50px;
  display: flex;
  align-items: center;
  background-color: #E8DFCA;
}
.info-img{
  width: 50%;
}
.info-img img{
  width: 600px;
  height: 250px;
}
.info-txt{
  width: 50%;
}
.info-txt h2{
  font-size: 65px;
  color: #322C2B;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.info-txt p{
  font-size: 18px;
  color: #322C2B;
  margin-bottom: 30px;
}
.btn-2{
  display: inline-block;
  padding: 15px 35px;
  background-color: #803D3B;
  color: #f2eeee;
  font-weight: 800;
  text-transform: uppercase;
  border-radius: 50px;
}
.btn-2:hover{
  background-color: #8a3f3c;
}

.horario{
  padding: 100px 50px;
  background-color: #1f5033;
}
.horario-info h2{
  font-size: 55px;
  color: #D3D2D2;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 50px;
}
.horario-txt{
  display: flex;
  justify-content: space-between;
}
.txt{
  color: #f2eeee;
}
.txt h4{
  font-size: 18px;
  color: #f2eeee;
  margin-bottom: 30px;
}
.txt p {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 15px;
}

.map{
  filter: grayscale(100%) invert(92%) contrast(93%);
}
.footer{
  padding: 100px 30px;
  display: flex;
  justify-content: space-between;
}
.links{
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.links ul li a{
  color: #ffffff;
  font-size: 16px;
  margin-bottom: 5px;
  display: inline-block;
}
.logo-3{
  height: 100px;
  width: 170px;
  padding-left: 0px;
}

@media (max-width:991px) {
  .menu{
    padding: 20px;
    justify-content: space-between;
  }
  .menu-2{
    display: none;
  }
    .logo-1{
      width: 100px;
    }
    .logo-2{
      width: 0;
    }
    .menu label{
      display: initial;
    }
    .menu .navbar{
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      background-color: #304D30;
      display: none;
    }
    /* .menu .navbar ul li{
      width: 100%;
    }
     */
    #menu:checked ~ .navbar{
      display: initial;
    }
    .header-content{
      padding: 30px;
      margin-top: 100px;
    }
    .slaider{
      flex-direction: column;
    }
    .slider-text{
      margin-left: 0;
      width: 100%;
      text-align: center;
      margin-bottom: 50px;
    }
    .slider-text h1{
      font-size: 50px;
    }
    .slider-text p{
      font-size: 16px;
    }  
    .slider-imgDiv{
      height: 400px;
      margin-bottom: 50px;
    }
    .slider-img{
      height: 300px;
    }     
    .btn-1{
      padding: 10px 25px;
      font-size: 14px;
    }    
    .swiper-horizontal > .swiper-pagination-bullets,
    .swiper-pagination-bullets, .swiper-pagination-horizontal,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
      bottom: -17px;
    }

    .tabs{
      padding: 50px 30px;
    } 
    .tabs label {
      width: 33%;
    }
    .info{
      padding: 30px;
      flex-direction: column;
    }
    .info-img{
      width: 100%;
      text-align: center;
    }
    .info-img img{
      width: 400px;
      height: 200px;
      margin-bottom: 25px;
    }
    .info-txt{
      width: 100%;
      text-align: center;
    }
    .info-txt h2{
      font-size: 50px;
    }
    .info-txt p{
      font-size: 16px;
    }
    .btn-1{
      font-size: 16px;
    }
    .horario{
      padding: 30px;
      text-align: center;
    }
    .horario-info h2 {
      font-size: 50px;
      margin-bottom: 15px;
    }
    .horario-txt{
      flex-direction: column;
    }
    .socials{
      justify-content: center;
    }
    .social img {
      margin: 8px 0 0 0;
    }
    .footer{
      padding: 30px;
      flex-direction: column;
      text-align: center;
    }
    .links h4{
      margin: 25px 0px 10px 0px;
    }
}