.product {
    display: flex;
    align-items: center;
    padding: 25px;
    margin: 0 0px;
}

.product-img {
    width: 50%;
    text-align: left;
}

.product-img h4 {
    display: inline-block;
    padding: 5px 7px;
    line-height: 15px;
    color: #D3D2D2;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 800;
    border: 2px solid #c9e1cb;
    border-radius: 10px;
    margin-bottom: 50px;
}

.product-img img {
    width: 150px;
    height: 120px;
}

.product-txt {
    width: 50%;
    margin-left: 10px;
    text-align: left;
}

.product-txt h4 {
    color: #ffffff;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 800;
    margin-bottom: 5px;
}

.product-txt p {
    color: #D3D2D2;
    font-size: 16px;
    margin-bottom: 15px;
}

.product-txt span {
    color: #ffffff;
    font-size: 18px;
    font-weight: 800;
}